[Unit]
Description=VirtualBox guest services
#RHEL7 says that Virtualization is kvm!?
ConditionVirtualization=|kvm
ConditionVirtualization=|oracle

[Service]
Type=simple
ExecStartPre=-/usr/sbin/modprobe vboxguest
ExecStartPre=-/usr/sbin/modprobe vboxsf
ExecStart=/usr/sbin/VBoxService -f
Restart=on-failure

[Install]
WantedBy=multi-user.target
