[Unit]
Description=VirtualBox guest services
#RHEL7 says that Virtualization is kvm!?
ConditionVirtualization=|kvm
ConditionVirtualization=|oracle

[Service]
ExecStartPre=-/usr/bin/modprobe vboxguest
ExecStartPre=-/usr/bin/modprobe vboxvideo
ExecStartPre=-/usr/bin/modprobe vboxsf
ExecStartPre=-/usr/bin/VBoxClient --vmsvga
ExecStart=/usr/sbin/VBoxService -f

[Install]
WantedBy=multi-user.target
