[Unit]
Description=VirtualBox guest services
ConditionVirtualization=oracle

[Service]
ExecStart=/usr/sbin/VBoxService -f

[Install]
WantedBy=multi-user.target

